{% extends 'base.html.twig' %}

{% block title %}Edit Team{% endblock %}

{% block body_header %}Edit Team{% endblock %}

{% block body_toolbar %}<a href="{{ path('app_team_index') }}" class="btn btn-primary">Back to list</a>{% endblock %}

{% block body %}
    {{ include('team/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
