{% extends 'base.html.twig' %}

{% block title %}New Team{% endblock %}

{% block body_header %}Create new Team{% endblock %}

{% block body %}
    {{ include('team/_form.html.twig') }}

    <a href="{{ path('app_team_index') }}" class="btn btn-primary">Back to list</a>
{% endblock %}
