{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body_header %}Team{% endblock %}

{% block body_toolbar %}<a href="{{ path('app_team_index') }}" class="btn btn-primary">Back to list</a>{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ team.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ team.name }}</td>
        </tr>
        <tr>
            <th>Members</th>
            <td>
                {% for member in team.member %}
                    - {{ member.email }} <br/>
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
